In [24]:
import pandas as pd
import numpy as np

In [25]:
timeTable= pd.read_excel("TimeTableF22.xlsx", sheet_name= None, skiprows=[1,2,3], header= 1, index_col = "Room")

In [26]:
timeTable.keys()

dict_keys(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'])

In [27]:
# timeTable['Monday']

In [28]:
classes={}
labs={}
for i in timeTable.keys():
    x= timeTable[i][:"Lab"]
    x= x.drop(x.index[-1])
    x.dropna(thresh = 1, axis=1, inplace = True)
    x.fillna("Empty",inplace=True)
    classes[i]=x

    y= timeTable[i]["Lab":]
    y= y.rename(columns=y.iloc[0]).drop(y.index[0])
    y.dropna(thresh = 1, axis=1, inplace = True)
    y.fillna("Empty",inplace=True)
    labs[i]=y

In [29]:
classes['Monday'].loc['C-301']['Unnamed: 8']

'Empty'

In [30]:
del timeTable

In [31]:

for day in labs.keys():
    new_cols=[]
    i=0
    for i in range(len((labs[day].columns).isna())):
        if (labs[day].columns).isna()[i] == True:
            new_cols.append('Nothing'+str(i))
            i+=1
        else:
            new_cols.append(labs[day].columns[i])
    labs[day].columns= new_cols

In [32]:
classes_info= []
for week in classes.keys():
    for room in classes[week].index:
        for time in classes[week].columns:
            class_name= classes[week].loc[room][time]
            if(class_name!='Empty'):
                if(len(class_name.split(':'))>1):
                    classes_info.append((week, room, class_name.split(' ')[-1], class_name))
                else:
                    classes_info.append((week, room, time, class_name))

In [33]:
labs_info= []
for week in labs.keys():
    for room in labs[week].index:
        for time in labs[week].columns:
            lab_name= labs[week].loc[room][time]

            if(lab_name!='Empty'):
                if(len(lab_name.split(':'))>1):
                    labs_info.append((week, room, lab_name.split(' ')[-1], lab_name))
                else:
                    labs_info.append((week, room, time, lab_name))

In [34]:
labs_info[0]

('Monday', 'C-Margala 1', '08:30-11:15', 'PF Lab (CS-G)')

In [23]:
def func(subject, type):
    if (type== 'class'):
        for i in range(len(classes_info)):
            if(classes_info[i][-1]== subject):
                print('Day: '+classes_info[0]+'\nRoom: '+classes_info[1]+ '\nTime: '+classes_info[2]+'\n\n')

'PF Lab (CS-C)'

In [35]:
classes_info[0]

('Monday', 'C-301', '08:30-09:50', 'PF (CS-A)')

In [ ]:
pd.DataFrame(classes_info)

          0      1             2                                 3
0    Monday  C-301   08:30-09:50                         PF (CS-A)
1    Monday  C-301   10:00-11:20                   Calculus (CS-A)
2    Monday  C-301   11:30-12:50                         AP (CS-A)
3    Monday  C-301   01:00-02:20  Islamic Studies (CS-A) Cancelled
4    Monday  C-301   02:30-03:50                           OOP (A)
..      ...    ...           ...                               ...
904  Friday  C-410   10:00-11:20       FYP / MS Thesis Evaluations
905  Friday  C-410   11:30-12:50       FYP / MS Thesis Evaluations
906  Friday  C-410   02:00-03:20       FYP / MS Thesis Evaluations
907  Friday  C-410   03:30-04:50       FYP / MS Thesis Evaluations
908  Friday  C-410  05:20-06:40        FYP / MS Thesis Evaluations

[909 rows x 4 columns]

In [134]:
for i in (labs.keys()):
    print(labs[i].columns)

Index(['08:30-11:15', '11:25-02:10', '02:25-05:10'], dtype='object')
Index(['08:30-11:15', '11:25-02:10', 'Nothing', '02:25-05:10', 'Nothing'], dtype='object')
Index(['08:30-11:15', '11:25-02:10', 'Nothing', '02:25-05:10'], dtype='object')
Index(['08:30-11:15', 'Nothing', '11:25-02:10', 'Nothing', '02:25-05:10'], dtype='object')
Index(['08:30-11:15', 'Nothing', '02:15-05:00'], dtype='object')

In [ ]:
labs['Tuesday'].fillna('none')

,08:30-11:15,11:25-02:10,NaN,02:25-05:10,NaN
Room,,,,,
C-Margala 1,PF Lab (CS-B),PF Lab (CS-C),Empty,IICT Lab (DS-C),Empty
C-Margala 3,PF Lab (CS-D),COAL Lab (CS-A),Empty,Data St Lab (DS-M),Empty
C-Margala 4,PF Lab (CS-E),"Data St Lab (CS-B,Z)",Empty,Data St Lab (DS-N),Empty
C-Rawal 1,IICT Lab (DS-A),PF Lab (SE-B),Empty,Data St Lab (SE-P),Empty
Rawal 3 (B-232),Data Structures Lab (AI-K),S/w Const & Dev Lab (SE-Q),Empty,Empty,Empty
C-Rawal 4,DB Lab (CS-B),Eng Comp (DS-B) 11:30-12:50 ReSch,Blockchain & Crypto (CY-T) 01:00-02:20,Empty,Web Prog (A) 03:55-05:15
A-Karakoram 1,PF Lab (DS-B),COAL Lab (CS-Y),Empty,OOP Lab (CS-B),Empty
A-Karakoram 2,PF Lab (SE-E),PF Lab (CS-A),Empty,Comp Networks Lab (DS-N),Empty
A-Karakoram 3,Data St Lab (SE-Q),Comp Networks Lab (CS-C),Empty,Sec S/w Design (CY-T),Empty
A-Mehran 1,PF Lab (SE-F),PF Lab (SE-A),Empty,S/w Const & Dev Lab (SE-P),Empty
A-Mehran 2,COAL Lab (CS-Z),Eng Comp Lab (AI-C1),Empty,Eng Comp Lab (DS-A1),Empty
C-GPU Lab,Prog for AI Lab (AI-J),Comp Networks Lab (CS-F),Empty,Empty,Empty
A-CALL-1,Eng Comp Lab (DS-C1),Eng Comp Lab (AI-C2),Empty,Eng Comp Lab (DS-A2),Empty
A-CALL-2,Eng Comp Lab (DS-C2),Eng Comp Lab (AI-D1),Empty,Eng Comp Lab (DS-B1),Empty
A-CALL-3,Empty,Eng Comp Lab (AI-D2),Empty,Eng Comp Lab (DS-B2),Empty
B-Digital,Empty,Empty,Empty,Empty,Empty

In [ ]:
(labs['Tuesday'].columns).isna()

array([False, False,  True, False,  True])

In [65]:
for day in labs.keys():
    new_cols=[]
    for i in range(len((labs[day].columns).isna())):
        if (labs[day].columns).isna()[i] == True:
            new_cols.append('None')
        else:
            new_cols.append(labs[day].columns[i])
    labs[day] = new_cols

,08:30-11:15,11:25-02:10,None,02:25-05:10,None
Room,,,,,
C-Margala 1,PF Lab (CS-B),PF Lab (CS-C),Empty,IICT Lab (DS-C),Empty
C-Margala 3,PF Lab (CS-D),COAL Lab (CS-A),Empty,Data St Lab (DS-M),Empty
C-Margala 4,PF Lab (CS-E),"Data St Lab (CS-B,Z)",Empty,Data St Lab (DS-N),Empty
C-Rawal 1,IICT Lab (DS-A),PF Lab (SE-B),Empty,Data St Lab (SE-P),Empty
Rawal 3 (B-232),Data Structures Lab (AI-K),S/w Const & Dev Lab (SE-Q),Empty,Empty,Empty
C-Rawal 4,DB Lab (CS-B),Eng Comp (DS-B) 11:30-12:50 ReSch,Blockchain & Crypto (CY-T) 01:00-02:20,Empty,Web Prog (A) 03:55-05:15
A-Karakoram 1,PF Lab (DS-B),COAL Lab (CS-Y),Empty,OOP Lab (CS-B),Empty
A-Karakoram 2,PF Lab (SE-E),PF Lab (CS-A),Empty,Comp Networks Lab (DS-N),Empty
A-Karakoram 3,Data St Lab (SE-Q),Comp Networks Lab (CS-C),Empty,Sec S/w Design (CY-T),Empty
A-Mehran 1,PF Lab (SE-F),PF Lab (SE-A),Empty,S/w Const & Dev Lab (SE-P),Empty
A-Mehran 2,COAL Lab (CS-Z),Eng Comp Lab (AI-C1),Empty,Eng Comp Lab (DS-A1),Empty
C-GPU Lab,Prog for AI Lab (AI-J),Comp Networks Lab (CS-F),Empty,Empty,Empty
A-CALL-1,Eng Comp Lab (DS-C1),Eng Comp Lab (AI-C2),Empty,Eng Comp Lab (DS-A2),Empty
A-CALL-2,Eng Comp Lab (DS-C2),Eng Comp Lab (AI-D1),Empty,Eng Comp Lab (DS-B1),Empty
A-CALL-3,Empty,Eng Comp Lab (AI-D2),Empty,Eng Comp Lab (DS-B2),Empty
B-Digital,Empty,Empty,Empty,Empty,Empty

In [72]:
len(classes['Monday'].loc['C-307']['08:30-09:50'].split(':')),len(classes['Monday'].loc['C-310']['08:30-09:50'].split(':'))

(3, 1)

In [77]:
classes['Monday'].loc['C-307']['08:30-09:50'].split(' ')[-1]

'08:30-10:15'

In [23]:
timeTable['Monday'].index[-1]

'B-Digital'

In [17]:
labs['Monday']

,08:30-11:15,11:25-02:10,02:25-05:10
Room,,,
C-Margala 1,PF Lab (CS-G),PF Lab (CS-H),IICT Lab (SE-C)
C-Margala 3,Comp Networks Lab (CS-A),S/w Const & Dev Lab (SE-R),Eng Comp Lab (CS-G1) ReSch
C-Margala 4,Data St Lab (CS-D),OS Lab (AI-J),OS Lab (AI-K)
C-Rawal 1,IICT Lab (AI-B),PF Lab (CS-F),IICT Lab (SE-D)
Rawal 3 (B-232),COAL Lab (CS-E),COAL Lab (CS-G),Empty
C-Rawal 4,DB Lab (C),COAL Lab (CS-C),OOP Lab (CS-A)
A-Karakoram 1,Comp Networks Lab (CS-G),Empty,Empty
A-Karakoram 2,IICT Lab (AI-A),PF Lab (CS-K),Comp Networks Lab (CS-D)
A-Karakoram 3,COAL Lab (CS-V),Comp Networks Lab (CY-T),Empty
A-Mehran 1,PF Lab (CS-J),Empty,S/w Const & Dev Lab (SE-S)
A-Mehran 2,Eng Comp Lab (SE-C1),Eng Comp Lab (DS-D1),Eng Comp Lab (AI-A1)
C-GPU Lab,Comp Networks Lab (CS-E),Empty,Empty
A-CALL-1,Eng Comp Lab (SE-C2),Eng Comp Lab (DS-D2),Eng Comp Lab (AI-A2)
A-CALL-2,Eng Comp Lab (SE-D1),Eng Comp Lab (SE-G1),Eng Comp Lab (AI-B1)
A-CALL-3,Eng Comp Lab (SE-D2),Eng Comp Lab (SE-G2),Eng Comp Lab (AI-B2)
B-Digital,Empty,Empty,DLD Lab (CS-A)